--
-- PostgreSQL database dump
--

\restrict Sq9fbMH7uevtLySEbgl8Rm6AWWsRYRKPJ2gqvqmKL8Wp5WIanNFjObnxagyg4cM

-- Dumped from database version 18.3
-- Dumped by pg_dump version 18.3

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: bodegas; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.bodegas (
    id integer NOT NULL,
    nombre character varying(100) NOT NULL,
    ubicacion character varying(200) NOT NULL,
    estado character varying(15) DEFAULT 'Activada'::character varying NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    codigo character varying(5),
    dotacion integer DEFAULT 0 NOT NULL,
    CONSTRAINT bodegas_estado_check CHECK (((estado)::text = ANY ((ARRAY['Activada'::character varying, 'Desactivada'::character varying])::text[])))
);


--
-- Name: bodegas_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.bodegas_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: bodegas_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.bodegas_id_seq OWNED BY public.bodegas.id;


--
-- Name: encargados; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.encargados (
    id integer NOT NULL,
    bodega_id integer NOT NULL,
    run character varying(12) NOT NULL,
    nombre character varying(100) NOT NULL,
    apellido1 character varying(100) NOT NULL,
    apellido2 character varying(100),
    direccion character varying(200),
    telefono character varying(20),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


--
-- Name: encargados_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.encargados_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: encargados_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.encargados_id_seq OWNED BY public.encargados.id;


--
-- Name: bodegas id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.bodegas ALTER COLUMN id SET DEFAULT nextval('public.bodegas_id_seq'::regclass);


--
-- Name: encargados id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.encargados ALTER COLUMN id SET DEFAULT nextval('public.encargados_id_seq'::regclass);


--
-- Data for Name: bodegas; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: encargados; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.encargados (id, bodega_id, run, nombre, apellido1, apellido2, direccion, telefono, created_at) FROM stdin;
2	1	22222222-2	Ana	Torres	Munoz	Calle Valparaiso 345, Vina del Mar	+56922222222	2026-04-20 15:19:17.966494
4	3	11111111-1	Pedro	Martinez	Rojas	Pasaje Ecuador 78, Vina del Mar	+56911111111	2026-04-20 15:19:17.966494
1	1	12345678-9	Carlos	Gonzalez	Perez	Av. Libertad 1250, Vina del Mar	+56912345678	2026-04-20 15:19:17.966494
3	6	98765432-1	Maria	Lopez	Silva	Av. Espana 890, Vina del Mar	+56987654321	2026-04-20 15:19:17.966494
\.


--
-- Name: bodegas_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.bodegas_id_seq', 6, true);


--
-- Name: encargados_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.encargados_id_seq', 4, true);


--
-- Name: bodegas bodegas_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.bodegas
    ADD CONSTRAINT bodegas_pkey PRIMARY KEY (id);


--
-- Name: encargados encargados_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.encargados
    ADD CONSTRAINT encargados_pkey PRIMARY KEY (id);


--
-- Name: encargados encargados_bodega_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.encargados
    ADD CONSTRAINT encargados_bodega_id_fkey FOREIGN KEY (bodega_id) REFERENCES public.bodegas(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict Sq9fbMH7uevtLySEbgl8Rm6AWWsRYRKPJ2gqvqmKL8Wp5WIanNFjObnxagyg4cM

